.menu-custom {
background-color: red;
height: 100vh;
position: sticky; top: 0; left: 0; z-index: 500;}

.portrait {
    width: 20vw;
    height: 20vw;
    background-color: black;
}

.container {
display: flex;
width: 100%;
height: 100%;
justify-content: flex-end;
}

#fullpage {
z-index: 200;

}
