
body {
    font-family: 'Lato', sans-serif;
}

a {
 color: #48265f!important; text-decoration: none; 
}

 a:hover {
    color: #be9fd3!important;
}

.menu-custom ul li {
    display:inline;margin: 0 10px
}

.menu-custom a {
    text-transform: uppercase; 
}

.menu-custom {
    padding: 5px;
   position: sticky; top: 0;  left: 0; z-index: 500; margin-bottom: -52px;
}

#section0 {
background: rgb(165,103,142);
overflow: hidden!important;
background: linear-gradient(180deg, #6156a7 0%, #25314e 100%);
width: 100%;
}

#section0 svg {
    width: 100%;
}
.intro {
    text-align: center;
}

#section0 .intro {
margin-top: -10vh;
color: white;
}

.intro h1 {
 font-size: 10vh; text-transform: uppercase; margin: 0; padding: 0; 
}

.section .wave {
    width: 100%;
    margin: 0;
    bottom: 0;
    padding: 0;
    position: absolute;
}

#section0 svg,#section2 svg {
    fill: white;
}

#section1 svg {
    fill: #bfb8da;
}

#section2 {
background-color: #bfb8da;
}


#section4 {
    background-color: #bfb8da;
}
#section4 svg {
    fill: white;top: 0;
}



.container {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
}

#fullpage {
z-index: 200;

}

.fp-controlArrow.fp-prev {
    border-color: transparent #000 transparent transparent;
}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #000;
}


.slide {
    display: flex;
}

.section .img-project, 
.info-project {
    width: 50%;
    height: 100%;
}

.img-project .frame {
    background-color: white;
    width: 70%;
    height: 80%;
    position: relative;
    left: calc(50% - 25%);
    top: calc(50% - 40%);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
}

.img-project-details {
    width: 90%;
    height: 90%;
    background-color: skyblue;
    position: relative;
    left: calc(50% - 45%);
    top: calc(50% - 45%);
}

#slide2 .img-project-details {
   background-image: url('../src/blueprint.png');
   background-size: cover;
   background-position: top center;
   transition: 2s ease-in-out all;

}

#slide2 .img-project-details:hover {
   background-image: url('../src/blueprint.png');
   background-size: cover;
   background-position: bottom center;
   transition: 1.4s ease-in-out all;
}


.container-project { width: 100%; height: 100%;display: flex;}

.fp-slidesNav  {
    margin: 0 auto!important;
    text-align: center;
}

.details {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: calc(50% - 40%);
    top: calc(50% - 30%);
}

.details a {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1vw;
}

.details .icons {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.details .icons svg {height: 3vw;
transition: ease-in-out 0.2s all;}

.details .icons a {
      /* pointer-events: none; */
}
svg:nth-child(1):hover {
fill: #fb8b80;
transition: ease-in-out 0.2s all;}

svg:nth-child(2):hover{
fill: #ff7b89;
transition: ease-in-out 0.2s all;}

svg:nth-child(3):hover {
fill: #8a5082;
transition: ease-in-out 0.2s all;}

svg:nth-child(4):hover {
fill: #705f93;
transition: ease-in-out 0.2s all;}

svg:nth-child(5):hover {
fill: #758eb7;
transition: ease-in-out 0.2s all;}

svg:nth-child(6):hover {
fill: #a5cad2;
transition: ease-in-out 0.2s all;}




/* svg home  */

#home-svg-top {
    position: absolute; 
    top: -6.6vw; right:-61vw;
}

#home-svg-bottom {
    position: absolute; 
    bottom: -8vw; left: -8vw;
}
tspan { white-space:pre }
.shp0 { fill: #253b6e }
.shp1 {fill: #ffffff}
.shp2 {fill: #1f5f8b}
.shp3 {fill: #1891ac}
.shp4 {fill: #bbded6}
.shp5 {fill: #d2ecf9}
.shp6 {fill: #28326e}
.shp7 {fill: #23498b}
.shp8 {fill: #1f86ac}
.shp9 {fill: #24598b}
.shp10 {fill: #1e71ac}