
body {
font-family: 'Lato', sans-serif;
}

a {
color: #48265f!important; text-decoration: none; 
}

a:hover {
color: #a288b4!important;
}

.menu-custom ul li {
display:inline;margin: 0 10px
}

.menu-custom a {
text-transform: uppercase; 
}

.menu-custom {
padding: 5px;
position: sticky; top: 0;  left: 0; z-index: 500; margin-bottom: -52px;
}

#section0 {
background: rgb(165,103,142);
overflow: hidden!important;
background: linear-gradient(180deg, #6156a7 0%, #25314e 100%);
width: 100%;
}

#section0 svg {
width: 100%;
}
.intro {
text-align: center;
}

#section0 .intro {
margin-top: -10vh;
color: white;
}

.intro h1 {
font-size: 10vh; text-transform: uppercase; margin: 0; padding: 0; 
}

.section .wave {
width: 100%;
margin: 0;
bottom: 0;
padding: 0;
position: absolute;
}

#section0 svg,#section2 svg {
fill: white;
}

#section1 svg {
fill: #bfb8da;
}

#section1 .details {
    top: 4vw;
    left: 0;
    width: 70%;
}

#section2 {
background-color: #bfb8da;
}

#section3 .wave {
fill: #bfb8da;
}

#section4 {
background-color: #bfb8da;
}
#section4 svg {
fill: #524274; bottom: 0; position: absolute;
}


.container {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
}

#fullpage {
z-index: 200;
}

.fp-controlArrow.fp-prev {
border-color: transparent #000 transparent transparent;
}
.fp-controlArrow.fp-next {
border-color: transparent transparent transparent #000;
}

.slide {
display: flex;
background-color:none;
}

#slide2 p{
margin: 5px;
}

.section .img-project, 
.info-project {
width: 50%;
height: 100%;
}

.img-project .frame {
background-color: white;
width: 70%;
height: 80%;
position: relative;
left: calc(50% - 25%);
top: calc(50% - 43%);
-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
}

.frame2 {
width: 80%!important;
height: 50%!important;
position: relative;
left: calc(50% - 30%)!important;
top: calc(50% - 25%)!important;
}

.img-project-details {
width: 90%;
height: 90%;
position: relative;
left: calc(50% - 45%);
top: calc(50% - 45%);
}

.img-project-details {
background-size: cover;
background-position: top center;
transition: 2s ease-in-out all;

}

#slide2 .img-project-details {
background-image: url('../src/blueprint.png');
}

#slide3 .img-project-details {
background-image: url('../src/my_cinema.png');
}

#slide4 .img-project-details {
background-image: url('../src/irc.png');
}

#slide5 .img-project-details {
background-image: url('https://www.snapchat.com/global/social-lg.jpg');
}

.img-project-details:hover {
background-position: bottom center;
transition: 1.4s ease-in-out all;
}

.container-project { width: 100%; height: 100%;display: flex;}

.fp-slidesNav  { margin: 0 auto!important; text-align: center; }

.details {
width: 50%;
height: 60%;
display: flex;
flex-direction: column;
position: relative;
left: calc(50% - 40%);
top: calc(50% - 30%);
}

.details2 {
width: 80%;
height: 97%;
left: calc(50% - 35%);
top: calc(50% - 47%);
color: white;
font-size: 1.3em;
}

.details3 {
top: calc(50% - 40%)!important;
width: 100%;
color: white;
}
.details3 a {
color: white!important;
}
.details3 a:hover {
color: #a288b4!important;
}

.md-48 {
font-size: 2vw!important;
}

.md-48 svg {
width: 40px;
}

.details3 p {
display: flex;
align-items: center;
font-size: 1.4vw;
margin: 8px;
}
.details3 span {
margin: 3px;
}
.details3 p a {
text-align: left;
}
.details h3,.details h5  {
margin: 0;
padding: 0;
}

.details h3 {
padding: 20px 0px;
}
.details2 span {
margin: 3px;
}
.details2 p {
padding: 5px;
margin: 0;
}

.bar { width: 0.2vw; 
height: 80vh;
background-color: #a49bca;
border-radius: 50px;
}

.details a {
width: 100%;
display: inline-block;
text-align: center;
font-size: 1vw;
}

.details .icons {
display: flex;
align-items: stretch;
justify-content: space-evenly;
}

.column {
flex-direction: column;
width: 90%;
margin: 0 auto;
}

.column div {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
font-weight: bold;
}

.progress {
height: 20px!important;
width: 62%!important;
position: relative;
margin: 15px!important;
}

.details .icons svg {height: 3vw; transition: ease-in-out 0.2s all;}

a:nth-child(1):hover { fill: #fb8b80; transition: ease-in-out 0.2s all;}
a:nth-child(2):hover{ fill: #ff7b89; transition: ease-in-out 0.2s all;}
a:nth-child(3):hover { fill: #8a5082; transition: ease-in-out 0.2s all;}
a:nth-child(4):hover { fill: #705f93; transition: ease-in-out 0.2s all;}
a:nth-child(5):hover { fill: #758eb7; transition: ease-in-out 0.2s all;}
a:nth-child(6):hover { fill: #a5cad2; transition: ease-in-out 0.2s all;}


/* svg home  */

#home-svg-top {
position: absolute; 
top: -6.6vw; right:-61vw;
}

#home-svg-bottom {
position: absolute; 
bottom: -8vw; left: -8vw;
}
tspan { white-space:pre }
.shp0 { fill: #253b6e }
.shp1 {fill: #ffffff}
.shp2 {fill: #1f5f8b}
.shp3 {fill: #1891ac}
.shp4 {fill: #bbded6}
.shp5 {fill: #d2ecf9}
.shp6 {fill: #28326e}
.shp7 {fill: #23498b}
.shp8 {fill: #1f86ac}
.shp9 {fill: #24598b}
.shp10 {fill: #1e71ac}

#portrait {
position: absolute;
left: 10vw;
bottom: 15vw;
width: 30vw;
}
/* portrait */
.portrait0 { fill: #d8cfdb } 
.portrait1 { fill: #652f55 } 
.portrait2 { fill: #441e39 } 
.portrait3 { fill: #ebad95 } 
.portrait4 { fill: #c6866d } 
.portrait5 { fill: #fec7a8 } 
.portrait6 { opacity: 0.22;fill: #f57f73 } 
.portrait7 { opacity: 0.231;fill: #000000 } 
.portrait8 { opacity: 0.659;fill: #f57f73 } 
.portrait9 { fill: #cd6c62 } 
.portrait10 { fill: #ffc7a6 } 
.portrait11 { fill: #7c3667 } 
.portrait12 { fill: #f4e6e6 } 
.portrait13 { fill: #101010 } 
.portrait14 { fill: #000000 } 
.portrait15 { fill: #ffffff } 
.portrait16 { fill: #b7ab27 } 
.portrait17 { fill: #70889b } 
.portrait18 { fill: #476074 } 


@media (max-width: 770px) {
    #section2 .container-project {
    display: flex;
    flex-direction: column;
    height: auto;
    }

    #section2 .info-project {
    width: 100%;
    top: 0;
    }

    #portrait {
    width: 40%;
    bottom: unset;
    top: 6%;
    left: calc(50% - 20%);
    }

    .aboutme .details {
    width: 80%;
    height: 50%;
    left: calc(50% - 40%);
    bottom: 40%;
    font-size: 2.4vw;
    }

    .aboutme h1 {
    margin: 0;
    padding: 0;
    font-size: 4vw!important;
    }

    #section3 .container-project {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    }

    #section3 .img-project{
    width: 100%!important;
    position: relative;
    right: unset;
    margin: 0;
    padding: 0;
    }

    #section3 a {font-size: 3vw;}
    
    #section3 .icons svg {width: 10vw!important;}

    #section3 .details { width: 80%;top: 0;}

    #section3 .frame {
    width: 80%;
    left: calc(50% - 40%)
    }

    #section3 .info-project{
    width: 100%;
    bottom: 0!important;
    }

    .column div p { margin-left: 1vw;}
    .skills {margin-top: -50px!important;}

    h3 {
    padding: 0!important;
    margin: 0!important;
    font-size: vw!important;
    }

    h1 {font-size: 10vw!important;}

    h5 {
    padding: 0!important;
    margin: 0!important;
    font-weight: bold;
    font-size: 2vw!important; }

    .icons div{
    padding: 0!important;
    margin: 0!important;}

    .details p {padding: 0px;}

    .bar {
    width: 80vw; 
    height: 0.4vw; 
    margin: 10px auto!important;}
}


@media (max-width: 1200px) {

    #portrait {
    width: 35%;
    bottom: unset;
    top: 6%;
    left: calc(50% - 20%);
    } 

    #section1 .container-project {
    flex-direction: column;
    width: 100%;
    top: 0;
    }

    #section1 .img-project {
    height: 50%;
    }
    #section1 .info-project {
    top: 0!important;
    width: 90%;
    margin: 0 auto;
    }

    #section1 .details {
    top: 3vw;
    }

    #section4 .container-project {
    flex-direction: column;
    }

    #section4 .info-project {
    top: 0;
    width: 100%;
    }

    #section4 .details3 {
    width: 80%;
    }

    #section4 .details3 p {
    font-size: 3.5vw;
    }

    #section4 .details3 a {
    font-size: 3.5vw!important;
    }

    .md-48 {
    font-size: 40px!important;
    }

}